<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-default}"
	xmlns:brewer="http://brewer.anthonini.com">
	
<head>
	<title>Cadastro de Usuário</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
	
</head>

<body>
	<section layout:fragment="content">	
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de usuário
				</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" th:object="${user}" class="form-vertical  js-form-loading" th:action="@{/user/new}">
				<brewer:message/>
				
				<div class="row">
					<div class="col-sm-12  form-group bw-required" brewer:classforerror="name">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{name}"/>
					</div>
				</div>
	
				<div class="row">
					<div class="col-sm-6 form-group bw-required" brewer:classforerror="email">
						<label for="email"  class="control-label">E-mail</label>
						<input id="email" type="text" class="form-control" th:field="*{email}"/>
					</div>
					
					<div class="col-sm-3 form-group" brewer:classforerror="birthDate">
						<label for="birthDate" class="control-label">Data de nascimento</label>
						<input id="birthDate" type="text" class="form-control js-date" th:field="*{birthDate}"
							th:errorclass="has-error" autocomplete="off"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:classforerror="password" >
						<label for="password" class="control-label">Senha</label>
						<input id="password" type="password" class="form-control" th:field="*{password}"/>
					</div>
					
					<div class="col-sm-3 form-group bw-required" brewer:classforerror="passwordConfirmation">
						<label for="passwordConfirmation" class="control-label">Confirmação de senha</label>
						<input id="passwordConfirmation" type="password" class="form-control" th:field="*{passwordConfirmation}"/>
					</div>
					
					<div class="col-sm-3 form-group" brewer:classforerror="active">
						<label for="status">Status</label>
						<div>
							<input type="checkbox" id="status" class="js-status" th:field="*{active}"
								data-size="small" data-off-color="danger" data-on-text="Ativo" data-off-text="Inativo">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-4 col-sm-4 form-group bw-required" brewer:classforerror="groups">
						<label for="userGroup" class="control-label">Grupos</label>
						<div>
							<div class="checkbox checkbox-inline" th:each="userGroup : ${userGroups}">
								<input name="userGroup" type="checkbox" class="form-control" th:value="${userGroup.id}" th:field="*{groups}">
								<label th:for="${#ids.prev('groups')}" th:text="${userGroup.name}">Administrador</label>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
		
			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch()
		</script>
	</th:block>
</body>
</html>