<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.anthonini.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/layout-default}">
	
<head>
	<title>Pesquisa de usuários</title>
</head>

<body>
<section layout:fragment="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de usuários</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/user/new}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo usuário</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${userFilter}">
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="name" class="control-label">Nome</label>
					<input id="name" type="text" class="form-control" th:field="*{name}" autofocus="autofocus"/>
				</div>
				
				<div class="form-group col-sm-6">
					<label for="email" class="control-label">E-mail</label>
					<input id="email" type="text" class="form-control" th:field="*{email}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-sm-4 form-group bw-required">
					<label for="userGroup" class="control-label">Grupos</label>
					<div>
						<div class="checkbox checkbox-inline" th:each="userGroup : ${userGroups}">
							<input name="userGroup" type="checkbox" class="form-control" th:value="${userGroup.id}" th:field="*{groups}">
							<label th:for="${#ids.prev('groups')}" th:text="${userGroup.name}">Administrador</label>
						</div>
					</div>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="aw-datatable-toolbar">
			<button class="btn btn-default btn-xs js-status-btn disabled" data:status="ACTIVATE" data:url="@{/user/status}">
				<span>Ativar</span>
			</button>
			
			<button class="btn btn-default btn-xs js-status-btn disabled" data:status="DEACTIVATE"  data:url="@{/user/status}">
				<span>Desativar</span>
			</button>
		</div>

		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-user-col-select">
	            			<div class="checkbox  aw-checkbox-no-margin">
	            				<input type="checkbox" class="js-select-all"/>
	            				<label></label>
	            			</div>
	            		</th>
						<th class="table-user-col-name">Nome</th>
						<th class="table-user-col-email">E-mail</th>
						<th class="table-user-col-group">Grupo</th>
						<th class="table-user-col-status">Status</th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="user : ${page.content}">
						<td>
							<div class="checkbox  aw-checkbox-no-margin" th:if="${user.id != #authentication.principal.user.id}">
	            				<input type="checkbox" class="js-selecao" data:id="${user.id}">
	            				<label></label>
	            			</div>
						</td>
						<td th:text="${user.name}">Nome</td>
						<td th:text="${user.email}">E-mail</td>
						<td>
							<span th:each="group : ${user.groups}" th:text="|${group.name}${groupStat.last ? '' : ', '} |"></span>
						</td>
						<td>
							<span class="label" th:text="${user.status}" th:classappend="${user.active ? 'label-success' : 'label-danger'}"></span>
						</td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${page.empty}">
						<td colspan="6"><i>Nenhum usuário encontrado.</i></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<brewer:pagination page="${page}" />
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/multiselection.js}"></script>
</th:block>
	
</body>
</html>