<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<th:block th:fragment="pagination (page)">
	<div class="col-sm-12  text-center" th:if="${not page.empty}">
			<nav>
				<ul class="pagination  pagination-sm" th:with="actualPage=${page.actual}">
					<li th:class="${page.first} ? disabled">
						<a th:href="${page.pageUrl(actualPage-1)}" th:remove="${page.first} ? tag"><span>&laquo;</span></a>
					</li>
					<th:block th:if="${actualPage+1 > page.pageQuantity}">
						<li>
							<a th:href="${page.pageUrl(0)}">1</a>
						</li>
						<li th:class="disabled">
							<a>...</a>
						</li>
					</th:block>
					
					<th:block th:each="p : ${#numbers.sequence(page.firstPage, page.lastPage)}" th:with="pageNumber=${p - 1}">
						<li th:class="${actualPage == pageNumber} ? active">
							<a th:href="${page.pageUrl(pageNumber)}">[[${p}]]</a>
						</li>
					</th:block>
					
					<th:block th:if="${page.total > page.pageQuantity && actualPage+2 < page.total}">
						<li th:class="disabled">
							<a>...</a>
						</li>
						<li>
							<a th:href="${page.pageUrl(page.total-1)}">[[${page.total}]]</a>
						</li>
					</th:block>
					
					<li th:class="${page.last} ? disabled">
						<a th:href="${page.pageUrl(actualPage+1)}"  th:remove="${page.last} ? tag"><span>&raquo;</span></a>
					</li>
				</ul>
			</nav>
		</div>
</th:block>
	
</html>