<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-default}"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:brewer="http://brewer.anthonini.com">
	
<head>
	<title>Pesquisa de vendas</title>
</head>


<section layout:fragment="content">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de vendas</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/sale/new}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova venda</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${saleFilter}">
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="code">Código</label>
					<input type="text" class="form-control" id="code" autofocus="autofocus" th:field="*{id}"/>
				</div>
				
				<div class="form-group  col-sm-6">
					<label for="status" class="control-label">Status</label>
					<select id="status" class="form-control" th:field="*{status}">
	                    <option value="">Todos os status</option>
	                    <option th:each="status : ${allStatus}" th:value="${status}" th:text="${status.description}"></option>
	                </select>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-6">
					<label for="initialCreationDate">Data de criação</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="initialCreationDate" 
							th:field="*{sinceDate}" autocomplete="off"/>
						<label for="finalCreationDate" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="finalCreationDate" 
							th:field="*{toDate}" autocomplete="off"/>
					</div>
				</div>
				
				<div class="form-group  col-sm-6">
					<label for="minimumValue">Valor total</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="minimumValue" th:field="*{minimumValue}"/>
						<label for="maximumValue" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="maximumValue" th:field="*{maximumValue}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="clientName">Nome cliente</label>
					<input type="text" class="form-control" id="clientName" th:field="*{clientName}"/>
				</div>
			
				<div class="form-group  col-sm-6">
					<label for="cpfCnpj" class="control-label">CPF/CNPJ</label>
					<input type="text" class="form-control" id="cpfCnpj" th:field="*{clientCpfOrCnpj}"/>
				</div>
				
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
	            	<tr>
	                	<th>Código</th>
	                	<th>
	                		<brewer:order page="${page}" field="c.nome" text="Cliente"/>
	                	</th>
	                	<th>Data de criação</th>
	                	<th>Valor total</th>
	                	<th>Vendedor</th>
	                	<th>Status</th>
	                 	<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
	            <tbody>
					<tr th:each="sale : ${page.content}">
						<td th:text="${sale.id}"></td>
						<td th:text="${sale.client.name}"></td>
						<td th:text="${{sale.creationDate}}"></td>
						<td th:text="|R$ ${{sale.totalValue}}|"></td>
						<td th:text="${sale.user.name}"></td>
						<td th:text="${sale.status.description}"></td>
	                 	<td class="text-center">
		   					<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" th:href="@{/sale/{id}(id=${sale.id})}">
		   						<i class="glyphicon glyphicon-pencil"></i>
		   					</a>
	                 	</td>
	                </tr>
	                
	                <tr th:if="${page.empty}">
	                	<td colspan="7">Nenhuma venda encontrada</td>
	                </tr>
	             </tbody>
			</table>
		</div>
		
		<brewer:pagination page="${page}" />
	</div>

</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/client.cpf-and-cnpj-mask.js}"></script>
</th:block>
</body>
</html>